
body
{
	background-color: #eee;
}

.header
{
	background-color: #222222;
	color: #FFF;
	text-align: center;
	padding-top: 16px;
	font-size: 35px;
	border-radius: 5px 5px 0px 0px;
	background-image:url('texturebg.png');
}

.mainWrapper
{
	position: relative;
	width: 944px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #ccc;
}

.listWrapper
{
	margin-top: 20px;
	min-height: 100px;
}

.inputWrapper
{
	text-align: center;
	height: 90px;
	background-color: #222222;
	border-color: #080808;
	background-image:url('texturebg.png');
	height: 105px;
	border-radius: 0px 0px 5px 5px;
}

.searchField
{
	width: 60%;
	margin-top: 10px;
	font-style: italic;
	height: 22px;
	font-size: 14px;
}


#quotesList .quotePart
{
	width: 700px ;
	margin-left: auto ;
	margin-right: auto ;
	font-size: 12px;
}

#quotesList .quotePart .label
{
	width: 60px;
	display: inline-block;
}

#quotesList .quotePart.date
{
	font-size: 12px;
	text-transform:capitalize;
}

#quotesList .quotePart.quote
{
	font-style: italic;
	word-wrap: break-word;
	margin-top: 14px;
	font-size: 14px;
	background-color: #eee;
	padding: 6px;
}

#quotesList .quotePart .who
{
	font-weight: bold;
	font-size: 14px;
}

#quotesList .quotePart.thumb
{
	margin-top: 14px;
}

#quotesList .quotePart.tagList
{
	margin-top: 12px;
	cursor: pointer;
}

#quotesList .tag
{
	background: #e2e6f0;
	border: 1px solid #9daccc;
	padding: 3px;
	margin-right: 7px;
	line-height: 2;
	border-radius: 2px;
}

#quotesList .personList
{
	margin-bottom: 10px;
	margin-top: 3px;
}

.quoteItem
{
	border: 1px solid #eee;
	border-radius: 5px;
	margin: 8px 20px 8px 20px;
	padding-top: 5px;
}

#progress
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	
	background-color: #555555;
	opacity:0.4;
	display: none;
}

#searchInfo
{
	text-align: center;
}

#logoQuote
{
	position: absolute;
    width: 189px;
	opacity:0.4;
}

#iconQuote
{
	margin-left: 10px;
	height: 80px;
}

.poweredby
{
	opacity:0.8;
	text-align: left;
	margin: 14px;
	color: #fff;
	font-size: 14px;
}


.linkWrapper a
{
	font-size: 14px;
	border-radius: 0 0 5px 5px;
	padding: 0 4px 4px 4px;
	padding-top: 2px;
	background-color: #444;
	color: #fff;
	background-image: url('texturebg.png');
	padding-bottom: 5px;
	text-decoration: none;
}

.filterLinkSpeaker 
{
	text-align: left;
}


.selected 
{
	background-color: #fff!Important;
	border: 1px solid #000;
	color: #000!Important;
	background-image: none!Important;
}

.note 
{
	color: #999;
	margin-top: 2px;
	font-size: 12px;
}

.calais
{
	text-align: center;
}

.contentWrapper
{
	width: 100%;
	height: 100%;
}