
body
{
	background-color: #eee;
}

.header
{
	background-color: #222222;
	color: #FFF;
	text-align: center;
	padding-top: 16px;
	font-size: 35px;
	
	background-image:url('texturebg.png');
}

.mainWrapper
{
	position: relative;
	width: 944px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border-radius: 0 0 5px 5px;
	border: 1px solid #ccc;
}

.listWrapper
{
	margin-top: 20px;
}

.inputWrapper
{
	text-align: center;
	height: 80px;
	
	background-color: #222222;
	border-color: #080808;
	border-radius: 0 0 5px 5px;
	
	background-image:url('texturebg.png');
}

.searchField
{
	width: 60%;
	margin-top: 10px;
	font-style: italic;
	height: 22px;
	font-size: 14px;
}


#quotesList .quotePart
{
	width: 700px ;
	margin-left: auto ;
	margin-right: auto ;

}

#quotesList .quotePart.date
{
	font-size: 12px;
	text-transform:capitalize;
}

#quotesList .quotePart.quote
{
	font-style: italic;
	word-wrap: break-word;
	margin-top: 2px;
}

#quotesList .quotePart .who
{
	font-weight: bold;
	font-size: 14px;
}

.quoteItem
{
	border: 1px solid #eee;
	margin: 8px 20px 8px 20px;
	padding-top: 5px;
}

#progress
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	
	background-color: #555555;
	opacity:0.4;
	display: none;
}

#searchInfo
{
	text-align: center;
}

#logoQuote
{
	position: absolute;
    width: 189px;
	opacity:0.4;
}

#iconQuote
{
	margin-left: 10px;
	height: 80px;
}

.poweredby
{
	opacity:0.8;
	text-align: left;
	margin: 14px;
	color: #fff;
	font-size: 14px;
}

.filterLinkSpeaker 
{
	text-align: left;
}

.filterLinkOthers 
{
	text-align: right;
}

.selected 
{
	background-color: #fff;
	border-radius: 0 0 5px 5px;
	border: 1px solid #ccc;
}